Package: com.shadow.h5ggapp
Name: H5GG跨进程普通版
Depends: 
Architecture: iphoneos-arm
Description: H5GG跨进程普通版(该版本支持iPad的原生分屏浮动, 如需全屏透明悬浮请使用H5GG跨进程悬浮版) Discord https://discord.gg/h5gg
Maintainer: Shadow-
Author: Shadow-
Section: System
Version: 0
